
# stemkiosk requirements.txt
# Usage:
# $ pip install -r ./requirements.txt

pandas
numpy
sympy
matplotlib

ipykernel
bash_kernel

jupyter_console
ipython
jupytext

asciinema
#asciifx
-e git+https://github.com/westurner/asciifx@syntax_highlighting_ipython_jupyter#egg=asciifx
asciinema-automation

# termsaver #--help | grep matrix
