sphinx<7
myst_parser
myst_nb
linkify-it-py
sphinx-copybutton
sphinx-pyscript
jupyterlite-sphinx

#  https://github.com/divi255/sphinxcontrib.asciinema
sphinxcontrib.asciinema

sphinx-book-theme

jupyterlite
# to install the Python kernel based on Pyodide
jupyterlite-pyodide-kernel
# to load Xeus-based kernels
jupyterlite-xeus

sphinxcontrib-srclinks
#-e git+ssh://git@github.com/westurner/sphinxcontrib-srclinks#egg=sphinxcontrib-srclinks


#sphinxjp.themes.basicstrap
#-e git+https://github.com/tell-k/sphinxjp.themes.basicstrap@7a5b36d1deeb#egg=sphinxjp.themes.basicstrap
-e git+https://github.com/westurner/sphinxjp.themes.basicstrap#egg=sphinxjp.themes.basicstrap

ghp-import
#-e git+https://github.com/davisp/ghp-import#egg=ghp-import

pygments-markdown-lexer
#-e git+https://github.com/jhermann/pygments-markdown-lexer#egg=pygments-markdown-lexer

-e git+https://github.com/westurner/wrd_sphinx_theme@develop#egg=wrd_sphinx_theme
